<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user signup(/user/new)</title>
</head>
<body>
    <form method="post" action="/user/new">
        <label>username: <input type="text" name="username"></label><br>
        <label>password: <input type="password" name="password"></label>
        <button>signup</button>
    </form>
</body>
</html>