<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bug/new" method="post">
        <textarea name="bugdescription"></textarea>
        <button>submit</button>
    </form>
</body>
</html>